
/*
 * ─── POST PAGES ─────────────────────────────────────────────────────────────────
 */
.entry-title,
.post .post-category title .post-categories li a {

	background-color: #000;
	color: #fff;

	border-radius: 0 0 10px 10px;

	padding: 0 20px;
	margin: 0 auto 50px auto;

	font-family: TimesNewMilly;
	font-size: 2.5em;
	font-weight: 100;
	text-align: center;

	width: 300px;
}

.entry-content {
	display: flex;
	justify-content: center;

	margin: 0 auto;
}

.display-posts-listing {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	padding-bottom: 100px;
}

.post {
	position: relative;

	.entry-header {
		margin-bottom: 100px;
	}

	.post-category-title .post-categories{
	
		ul li {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		li a {
			color: #fff;
			text-decoration: none;
		}
	}

	.post-title {
		margin-right: auto;
		margin-left: 100px;

		background: none;
		color: #000;

		font-family: Karla;
		text-align: left;
		font-size: 1.5em;
		font-style: italic;
		font-weight: bold;
	}
}

// Button styles are here
.display-posts-listing .listing-item {
	list-style-type: none;
	margin: 50px;

	.wp-block-image {
		border: solid 3px #000;
		padding: 50px;
	
		border-radius: 30px;
	
		list-style-type: none;
	
		width: 300px;
		height: 300px;
	
		display: flex;
		place-items: center;
	}

	.content .oacs-spl-like-button {
		text-decoration: none;
	}

	.content .oacs-spl-like-button-wrapper {
		width: max-content;
		
		a {
			display: flex;
			align-items: center;
		}
	}

	.content .oacs-spl-like-button .oacs-spl-counter {
		display: none;
	}

	.content .oacs-spl-like-button .oacs-spl-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #000;
		border-radius: 50px;
		width: 60px;
		height: 60px;
	}

	.content .oacs-spl-like-button .oacs-spl-icon::before {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.8em;
		color: #fff;
		padding: 10px;

		margin-left: 2px;
		margin-top: -3px;
		transition: color 0.2s;
	}

	.content .oacs-spl-like-button .oacs-spl-icon:hover::before {
		color: rgb(243, 67, 67);
	}

	.comments-link {
		display: flex;
		text-decoration: none;
		position: absolute;
		margin-top: -83px;
		margin-left: 65px;

		font-family: Quicksand;
		font-weight: 600;
		font-size: 1.2em;
		text-transform: uppercase;

		color: #000;
	}

	.comments-icon {
		background-color: #000;

		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50px;
		width: 60px;
		height: 60px;

		font-size: 1.8em;
		padding: 10px;
		margin-right: 10px;
		transition: color 0.2s;
	}

	.comments-icon svg path {
		fill: rgb(255, 255, 255);
		transition: fill 0.2s;
	}

	.comments-icon svg path:hover {
		fill: rgb(95, 186, 255);
	}
	
}

.display-posts-listing .listing-item img {
	max-width: 200px;
}