
/*
 * ─── POST PAGES ─────────────────────────────────────────────────────────────────
 */
.entry-title,
.post .post-category title .post-categories li a {

	background-color: #000;
	color: #fff;

	border-radius: 0 0 10px 10px;

	padding: 0 20px;
	margin: 0 auto 50px auto;

	font-family: TimesNewMilly;
	font-size: 2.5em;
	font-weight: 100;
	text-align: center;

	width: 300px;
}

.post .entry-content {
	display: flex;
	justify-content: center;

	margin: 0 auto;
}

.display-posts-listing {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	padding-bottom: 100px;
}

.post {
	position: relative;

	.entry-header {
		// margin-bottom: 100px;
		margin-top: -2px;
	}

	.post-category-title .post-categories{
	
		ul li {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		li a {
			color: #fff;
			text-decoration: none;
		}
	}
}

// Button styles are here
.display-posts-listing .listing-item {
	list-style-type: none;
	margin: 50px;

	.wp-block-image,
	.wp-block-embed {
		border: solid 3px #000;
		padding: 50px;
		border-radius: 30px;
		list-style-type: none;
		display: flex;
		place-items: center;
		transition: transform 0.2s;
	}

	.wp-block-image {
		width: 300px;
		height: 300px;
	}

	.wp-block-image:hover,
	.wp-block-embed:hover {
		transform: rotate(5deg);
	}

	.content .oacs-spl-like-button {
		text-decoration: none;
	}

	.content .oacs-spl-like-button-wrapper {
		width: max-content;
		
		a {
			display: flex;
			align-items: center;
		}
	}

	.content .oacs-spl-like-button .oacs-spl-counter {
		display: none;
	}

	.content .oacs-spl-like-button .oacs-spl-icon {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #000;
		border-radius: 50px;
		width: 60px;
		height: 60px;
	}

	.content .oacs-spl-like-button .oacs-spl-icon::before {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.8em;
		color: #fff;
		padding: 10px;

		margin-left: 2px;
		margin-top: -3px;
		transition: color 0.2s;
	}

	.content .oacs-spl-like-button .oacs-spl-icon:hover::before {
		color: rgb(243, 67, 67);
	}

	.comments-link {
		display: flex;
		text-decoration: none;
		position: absolute;
		margin-top: -83px;
		margin-left: 65px;

		font-family: Quicksand;
		font-weight: 600;
		font-size: 1.2em;
		text-transform: uppercase;

		color: #000;
	}

	.comments-icon {
		background-color: #000;

		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50px;
		width: 60px;
		height: 60px;

		font-size: 1.8em;
		padding: 10px;
		margin-right: 10px;
		transition: color 0.2s;
	}

	.comments-icon svg path {
		fill: rgb(255, 255, 255);
		transition: fill 0.2s;
	}

	.comments-icon svg path:hover {
		fill: rgb(95, 186, 255);
	}
	
}

.display-posts-listing .listing-item img {
	max-width: 200px;
}

// Individual posts

.entry-title,
.post-category-title .post-categories li a {
	background-color: #000;
	color: #fff;
	border-radius: 0 0 10px 10px;
	padding: 10px 50px;
	margin: 0 auto 50px auto;
	font-family: TimesNewMilly;
	font-size: 2.5em;
	font-weight: 100;
	text-align: center;
	width: max-content;
}

.entry-title {
	display: flex;
	align-items: center;
	justify-content: center;
	max-height: 60px;
}

.post .entry-content {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}
.post .entry-content img {
	max-width: 500px;
}

.post .entry-content .wp-block-image,
.post .entry-content .wp-block-embed {
	background: none;
}

.post .entry-content .oacs-spl-like-button-wrapper {
	width: max-content;
}
.post .entry-content .oacs-spl-like-button-wrapper a {
	display: flex;
	align-items: center;
}
.post .entry-content .oacs-spl-like-button {
	text-decoration: none;
}
.post .entry-content .oacs-spl-like-button .oacs-spl-counter {
	display: flex;
	text-decoration: none;
	font-family: Quicksand;
	font-weight: 600;
	font-size: 14pt;
	text-transform: uppercase;
	margin-left: 10px;
	color: #000;
	cursor: text;
}
.post .entry-content .oacs-spl-like-button .oacs-spl-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000;
	border-radius: 50px;
	width: 60px;
	height: 60px;
}
.post .entry-content .oacs-spl-like-button .oacs-spl-icon::before {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.8em;
	color: #fff;
	padding: 10px;
	margin-left: 2px;
	transition: color 0.2s;
}
.post .entry-content .oacs-spl-like-button .oacs-spl-icon:hover::before {
  	color: #f34343;
}

.post-navigation {
	display: none;
}

.post-category-title {
	.post-categories {

		width: 100%;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		text-align: center;

		li {
			list-style-type: none;
			margin: 0;
			padding: 0;
			width: 100%;
		}

		li a {
			text-decoration: none;
			font-weight: 100;
			text-align: left;
			margin: 0;
			padding: 15px 50px;
		}
	}
}

@media only screen and (max-width: 600px) {
	.post-category-title .post-categories li a {
		font-size: 2em;
	}

	.post-title {
		font-size: 1.2em;
	}
}

.post-title {
	margin: 10px auto;
	text-align: center;
	background: none;
	color: #000;
	font-family: Karla;
	font-size: 1.5em;
	font-style: italic;
	font-weight: bold;
}

#comments {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 100px;
	width: auto;

	.comment-list,
	.comment-respond {
		width: 50%;
	}

	.comment-list {
		margin: 0;
		padding: 25px 40px;
		border-radius: 40px;
		border: solid 3px #000;
		background-color: #5FBAFF;

		.comment {
			width: auto;
			border-bottom: solid 3px #000;
			margin: 20px 0;

			.comment-content {
				color: #000;
				font-size: 14pt;
				font-weight: 600;
				margin-top: -10px;
			}

			.comment-metadata {
				font-size: 12pt;
			}

			.comment-metadata a {
				text-decoration: none;
				color: #000;
			}

			.comment-author {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				font-size: 16pt;

				.avatar {
					border-radius: 50px;
				}

				.fn {
					margin: 0 10px;
				}

				.fn a {
					color: #000;
					text-decoration: none;
				}

				.says {
					display: none;
				}

			}
		}

		.comment:last-of-type {
			border: none;
		}


	}

	.comment-respond {
		.comment-reply-title {
			font-family: Karla;
			font-size: 18pt;
			font-weight: 800;
			font-style: italic;
			margin: 20px 0 -10px 0;
		}

		.comment-form-comment label {
			display: none;
		}

		.comment-form-comment textarea {
			border: solid 3px #000;
			border-radius: 20px;
		}

		.form-submit .submit {
			background-color: #000;
			color: #fff;
			padding: 10px 20px;
			border: none;
			border-radius: 8px;
			cursor: pointer;
			text-transform: uppercase;
			font-size: 1.2em;
			font-weight: 800;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: background-color 0.2s;
		}

		.form-submit .submit:hover {
			background-color: #5FBAFF;
		}
	}
}

@media only screen and (max-width: 1100px) {
	#comments .comment-list,
	#comments .comment-respond {
		width: 80%;
	}
}