@charset "UTF-8";
/*
 * ─── COMPONENT FEATURE STYLE ───────────────────────────────────────────────────────────
 */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc((600px * -1) * (8 / 2)));
  }
}
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 50px 0;
  overflow-x: hidden;
}
#hero h2 {
  margin-top: 50px;
  margin-bottom: 10px;
}
#hero .slider {
  overflow: hidden;
  height: max-content;
  background-color: red;
  position: relative;
  width: 100%;
}
#hero .slide-track {
  display: flex;
  flex-wrap: nowrap;
  top: 0px;
  left: 0px;
  overflow: hidden;
  white-space: nowrap;
  background-color: yellow;
  animation: scroll 18.75s linear infinite;
  width: calc(600px * 8);
}
#hero .slide-track img {
  width: 600px;
}
#hero .slide {
  max-width: 600px;
}

/*
 * ─── VIDEO FEATURE STYLE ───────────────────────────────────────────────────────────
 */
#featured-video {
  width: 100%;
  margin-bottom: -6px;
}
#featured-video iframe {
  width: 100%;
  height: 80vh;
  position: relative;
}
#featured-video .shirt-left,
#featured-video .frog-right {
  position: fixed;
  background-color: #fff;
  border: solid 3px #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 150px;
  top: 600px;
  cursor: pointer;
}
#featured-video .shirt-left {
  border-radius: 0 20px 20px 0;
  left: 0;
  border-left: none;
  background-color: #9CE8E3;
}
#featured-video .frog-right {
  border-radius: 20px 0 0 20px;
  right: 0;
  border-right: none;
  background-color: #E1A6DB;
}
#featured-video .title {
  position: absolute;
  background-color: #fff;
  border: solid 3px #000;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 50px;
  top: 100px;
}
#featured-video .title span {
  font-family: TimesNewMilly;
  font-size: 2.5em;
  text-transform: uppercase;
}

@media only screen and (max-width: 800px) {
  #featured-video .title {
    font-size: 0.8em;
  }
  #featured-video .shirt-left {
    display: none;
  }
  #featured-video .frog-right {
    width: 100px;
  }
  #featured-video .frog-right p {
    display: none;
  }
  #featured-video .frog-right img {
    width: 40px;
  }
}
/*
 * ─── ABOUT ME ───────────────────────────────────────────────────────────
 */
#about-me {
  background-color: #9CE8E3;
  border-top: solid 3px #000;
  border-bottom: solid 3px #000;
  padding: 50px 100px;
}

#about-me .wp-block-group__inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#about-me .wp-block-group__inner-container img:first-of-type {
  margin: 20px 0;
}
#about-me .wp-block-group__inner-container p {
  font-size: 1.2em;
  font-weight: 500;
  width: 50%;
}
#about-me .wp-block-group__inner-container .social-links-group .wp-block-group__inner-container {
  display: flex;
  flex-direction: row;
}

.tiny-social {
  padding: 10px;
  margin: 10px;
  border-radius: 50px;
  width: max-content;
  height: max-content;
  border: solid 3px #000;
  transition: background-color 0.2s;
}
.tiny-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}
.tiny-social img {
  height: 25px;
}

#newsletter-icon::after {
  content: "+";
  background-color: #000;
  color: #fff;
  font-family: TimesNewMilly;
  font-size: 2.2em;
  line-height: 30px;
  border-radius: 50px;
  position: absolute;
  width: 25px;
  height: 25px;
  margin-top: -45px;
  margin-left: 5px;
}

@media only screen and (max-width: 1350px) {
  #about-me .wp-block-group__inner-container p {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  #about-me {
    padding: 50px 20px;
  }
}
/*
 * ─── PROMOTIONS ───────────────────────────────────────────────────────────
 */
#promotions {
  width: 100%;
}

#promotions .wp-block-group__inner-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: scroll;
  border-bottom: solid 3px #000;
}
#promotions .wp-block-group__inner-container .promotion__card:last-of-type {
  border-right: none;
}

.promotion__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: solid 3px #000;
  padding: 100px;
  width: 100%;
}
.promotion__card img {
  max-width: 100px;
}
.promotion__card .bold-black-button img {
  max-width: 150px;
  padding: 20px 30px;
}
.promotion__card .bold-black-button span {
  font-size: 1.2em;
  margin-bottom: -5px;
  padding: 0 20px;
}
.promotion__card .bold-black-button {
  width: max-content;
}
.promotion__card p {
  font-family: Karla;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #000;
}

/*!
Theme Name: Milly Topia
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: milly-topia
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

Milly Topia is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/
/* Normalize
--------------------------------------------- */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Box sizing
--------------------------------------------- */
/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
/* Typography
--------------------------------------------- */
body,
button,
input,
select,
optgroup,
textarea {
  color: #404040;
  font-family: Quicksand;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", courier, monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/* Elements
--------------------------------------------- */
body {
  background: #fff;
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul,
ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5em 1.5em;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 1em 0;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

/* Links
--------------------------------------------- */
a {
  color: #4169e1;
}

a:visited {
  color: #800080;
}

a:hover,
a:focus,
a:active {
  color: #191970;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

/* Forms
--------------------------------------------- */
button,
input[type=button],
input[type=reset],
input[type=submit] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1;
  padding: 0.6em 1em 0.4em;
}

button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
  border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type=button]:active,
input[type=button]:focus,
input[type=reset]:active,
input[type=reset]:focus,
input[type=submit]:active,
input[type=submit]:focus {
  border-color: #aaa #bbb #bbb;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
input[type=number],
input[type=tel],
input[type=range],
input[type=date],
input[type=month],
input[type=week],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=color],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=range]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=week]:focus,
input[type=time]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=color]:focus,
textarea:focus {
  color: #111;
}

select {
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
/* Navigation
--------------------------------------------- */
.main-navigation {
  display: block;
  width: 100%;
}

.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999;
}

.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  display: block;
  left: auto;
}

.main-navigation ul ul a {
  width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}

.main-navigation li {
  position: relative;
}

.main-navigation a {
  display: block;
  text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: flex;
  }
}
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
  display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  text-align: end;
  flex: 1 0 50%;
}

/* Posts and pages
--------------------------------------------- */
.sticky {
  display: block;
}

.post,
.page {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/* Comments
--------------------------------------------- */
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

/* Widgets
--------------------------------------------- */
.widget {
  margin: 0 0 1.5em;
}

.widget select {
  max-width: 100%;
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
}

/* Captions
--------------------------------------------- */
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*=wp-image-] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
  margin-bottom: 1.5em;
  display: grid;
  grid-gap: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.gallery-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
  grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
  grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
  grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
  grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
  grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
  display: block;
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/
/* Jetpack infinite scroll
--------------------------------------------- */
/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/
/* Accessibility
--------------------------------------------- */
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
  outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {
  /*rtl:ignore*/
  float: left;
  /*rtl:ignore*/
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.alignright {
  /*rtl:ignore*/
  float: right;
  /*rtl:ignore*/
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}

/*
 * ─── POST PAGES ─────────────────────────────────────────────────────────────────
 */
.entry-title,
.post .post-category title .post-categories li a {
  background-color: #000;
  color: #fff;
  border-radius: 0 0 10px 10px;
  padding: 0 20px;
  margin: 0 auto 50px auto;
  font-family: TimesNewMilly;
  font-size: 2.5em;
  font-weight: 100;
  text-align: center;
  width: 300px;
}

.post .entry-content {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.display-posts-listing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
}

.post {
  position: relative;
}
.post .entry-header {
  margin-top: -2px;
}
.post .post-category-title .post-categories ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.post .post-category-title .post-categories li a {
  color: #fff;
  text-decoration: none;
}

.custom-listing-item {
  border: solid 3px #000;
  padding: 30px;
  border-radius: 30px;
  list-style-type: none;
  display: flex;
  place-items: center;
  transition: transform 0.2s;
  width: max-content;
  margin: 0 auto;
}

.custom-listing-item:hover {
  transform: rotate(5deg);
}

.display-posts-listing .listing-item {
  list-style-type: none;
  margin: 50px;
}
.display-posts-listing .listing-item .wp-block-image,
.display-posts-listing .listing-item .wp-block-embed {
  border: solid 3px #000;
  padding: 50px;
  border-radius: 30px;
  list-style-type: none;
  display: flex;
  place-items: center;
  transition: transform 0.2s;
}
.display-posts-listing .listing-item .wp-block-image {
  width: 300px;
  height: 300px;
}
.display-posts-listing .listing-item .wp-block-image:hover,
.display-posts-listing .listing-item .wp-block-embed:hover {
  transform: rotate(5deg);
}
.display-posts-listing .listing-item .content .oacs-spl-like-button {
  text-decoration: none;
}
.display-posts-listing .listing-item .content .oacs-spl-like-button-wrapper {
  width: max-content;
}
.display-posts-listing .listing-item .content .oacs-spl-like-button-wrapper a {
  display: flex;
  align-items: center;
}
.display-posts-listing .listing-item .content .oacs-spl-like-button .oacs-spl-counter {
  display: none;
}
.display-posts-listing .listing-item .content .oacs-spl-like-button .oacs-spl-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border-radius: 50px;
  width: 60px;
  height: 60px;
}
.display-posts-listing .listing-item .content .oacs-spl-like-button .oacs-spl-icon::before {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8em;
  color: #fff;
  padding: 10px;
  margin-left: 2px;
  margin-top: -3px;
  transition: color 0.2s;
}
.display-posts-listing .listing-item .content .oacs-spl-like-button .oacs-spl-icon:hover::before {
  color: #f34343;
}
.display-posts-listing .listing-item .comments-link {
  display: flex;
  text-decoration: none;
  position: absolute;
  margin-top: -83px;
  margin-left: 65px;
  font-family: Quicksand;
  font-weight: 600;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #000;
}
.display-posts-listing .listing-item .comments-icon {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  font-size: 1.8em;
  padding: 10px;
  margin-right: 10px;
  transition: color 0.2s;
}
.display-posts-listing .listing-item .comments-icon svg path {
  fill: white;
  transition: fill 0.2s;
}
.display-posts-listing .listing-item .comments-icon svg path:hover {
  fill: #5fbaff;
}

.display-posts-listing .listing-item img {
  max-width: 200px;
}

.entry-title,
.post-category-title .post-categories li a {
  background-color: #000;
  color: #fff;
  border-radius: 0 0 10px 10px;
  padding: 10px 50px;
  margin: 0 auto 50px auto;
  font-family: TimesNewMilly;
  font-size: 2.5em;
  font-weight: 100;
  text-align: center;
  width: max-content;
}

.entry-title {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 60px;
}

.post .entry-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.post .entry-content img {
  max-width: 500px;
}

.post .entry-content .wp-block-image,
.post .entry-content .wp-block-embed {
  background: none;
}

.post .entry-content .oacs-spl-like-button-wrapper {
  width: max-content;
}

.post .entry-content .oacs-spl-like-button-wrapper a {
  display: flex;
  align-items: center;
}

.post .entry-content .oacs-spl-like-button {
  text-decoration: none;
}

.post .entry-content .oacs-spl-like-button .oacs-spl-counter {
  display: flex;
  text-decoration: none;
  font-family: Quicksand;
  font-weight: 600;
  font-size: 14pt;
  text-transform: uppercase;
  margin-left: 10px;
  color: #000;
  cursor: text;
}

.post .entry-content .oacs-spl-like-button .oacs-spl-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border-radius: 50px;
  width: 60px;
  height: 60px;
}

.post .entry-content .oacs-spl-like-button .oacs-spl-icon::before {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8em;
  color: #fff;
  padding: 10px;
  margin-left: 2px;
  transition: color 0.2s;
}

.post .entry-content .oacs-spl-like-button .oacs-spl-icon:hover::before {
  color: #f34343;
}

.post-navigation {
  display: none;
}

.post-category-title .post-categories {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: center;
}
.post-category-title .post-categories li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.post-category-title .post-categories li a {
  text-decoration: none;
  font-weight: 100;
  text-align: left;
  margin: 0;
  padding: 15px 50px;
}

@media only screen and (max-width: 600px) {
  .post-category-title .post-categories li a {
    font-size: 2em;
  }

  .post-title {
    font-size: 1.2em;
  }
}
.post-title {
  margin: 10px auto;
  text-align: center;
  background: none;
  color: #000;
  font-family: Karla;
  font-size: 1.5em;
  font-style: italic;
  font-weight: bold;
}

#comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  width: auto;
}
#comments .comment-list,
#comments .comment-respond {
  width: 50%;
}
#comments .comment-list {
  margin: 0;
  padding: 25px 40px;
  border-radius: 40px;
  border: solid 3px #000;
  background-color: #5FBAFF;
}
#comments .comment-list .comment {
  width: auto;
  border-bottom: solid 3px #000;
  margin: 20px 0;
}
#comments .comment-list .comment .comment-content {
  color: #000;
  font-size: 14pt;
  font-weight: 600;
  margin-top: -10px;
}
#comments .comment-list .comment .comment-metadata {
  font-size: 12pt;
}
#comments .comment-list .comment .comment-metadata a {
  text-decoration: none;
  color: #000;
}
#comments .comment-list .comment .comment-author {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16pt;
}
#comments .comment-list .comment .comment-author .avatar {
  border-radius: 50px;
}
#comments .comment-list .comment .comment-author .fn {
  margin: 0 10px;
}
#comments .comment-list .comment .comment-author .fn a {
  color: #000;
  text-decoration: none;
}
#comments .comment-list .comment .comment-author .says {
  display: none;
}
#comments .comment-list .comment:last-of-type {
  border: none;
}
#comments .comment-respond .comment-reply-title {
  font-family: Karla;
  font-size: 18pt;
  font-weight: 800;
  font-style: italic;
  margin: 20px 0 -10px 0;
}
#comments .comment-respond .comment-form-comment label {
  display: none;
}
#comments .comment-respond .comment-form-comment textarea {
  border: solid 3px #000;
  border-radius: 20px;
}
#comments .comment-respond .form-submit .submit {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}
#comments .comment-respond .form-submit .submit:hover {
  background-color: #5FBAFF;
}

@media only screen and (max-width: 1100px) {
  #comments .comment-list,
#comments .comment-respond {
    width: 80%;
  }
}
.teal-bg {
  background-color: #7AD2B5;
}

.pink-bg {
  background-color: #D576BF;
}

.green-bg {
  background-color: #B2DB85;
}

.lemon-bg {
  background-color: #C9DF62;
}

.blue-bg {
  background-color: #4A4EC5;
}

.lt-teal-bg {
  background-color: #9CE8E3;
}

.lt-pink-bg {
  background-color: #E1A6DB;
}

.lt-green-bg {
  background-color: #D5EEBA;
}

.lt-lemon-bg {
  background-color: #DBE1A6;
}

.lt-blue-bg {
  background-color: #B7A7F3;
}

.milly-border {
  border: solid 5px #000;
}

.milly-border-notop {
  border-left: solid 5px #000;
  border-right: solid 5px #000;
  border-bottom: solid 5px #000;
}

#frogsona-game-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

#dressup-container {
  width: 90vw;
  margin: 50px 0;
  top: 600px;
}

#canvas-tools-group {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-bottom: 450px;
  margin-top: -50px;
}

#tools-container {
  margin-bottom: 50px;
  display: flex;
}

#tools-container span {
  background-color: #5FBAFF;
  color: white;
  padding: 15px;
  margin: 0 5px;
  font-size: 2em;
  cursor: pointer;
  border-radius: 20px;
}

#tools-container span:hover {
  background-color: #000;
}

#tools-container span:hover svg {
  fill: #fff;
}

/* Dressup container styles */
#categories-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: #000;
  border-radius: 30px 30px 0 0;
  padding: 20px;
  overflow-x: scroll;
  width: auto;
}

#clothing-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: #5FBAFF;
  border-radius: 0px 0px 30px 30px;
  padding: 40px;
  overflow-x: scroll;
}

.cloth-container {
  display: none;
}

.cloth-container .cloth {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 100px;
  height: 100px;
  margin: 0 15px;
  background-color: #FFF;
}

#categories-container .category {
  margin: 5px 20px;
  cursor: pointer;
}

#categories-container .category svg {
  width: 40px;
  height: 40px;
  fill: #fff;
}

#categories-container .outerwear svg {
  width: 50px;
}

#categories-container .category svg:hover {
  fill: #5FBAFF;
}

.cloth-container .cloth img, .cloth img {
  width: 75px;
}

/* Establish layering */
#canvas-tools-group {
  display: flex;
  place-items: center;
  width: 100%;
  background-color: red;
}

#canvases-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

#canvases-container canvas {
  position: absolute;
}

#backdrops-layer {
  z-index: 1;
}

#frogsona-canvas {
  z-index: 2;
}

#socks-layer {
  z-index: 3;
}

#bottoms-layer,
#dresses-layer,
#hats-layer,
#glasses-layer,
#bags-layer,
#items-layer {
  z-index: 4;
}

#tops-layer,
#outerwear-layer,
#scarves-layer,
#ties-layer {
  z-index: 5;
}

#tools-container {
  z-index: 6;
}

@media only screen and (min-width: 1200px) {
  #tools-container {
    position: absolute;
    top: 550px;
    right: 150px;
  }

  #frogsona-game-container {
    flex-direction: row-reverse;
    align-items: flex-start;
    width: auto;
  }

  #canvas-tools-group {
    width: 480px;
    margin-top: 50px;
  }

  #dressup-container {
    width: 50vw;
    top: 0;
  }

  #dressup-container #clothing-container {
    overflow-x: hidden;
  }

  #categories-container,
#clothing-container .cloth-container {
    flex-wrap: wrap;
  }

  #clothing-container .cloth-container {
    overflow-y: scroll;
    height: 50vh;
  }

  .cloth-container .cloth {
    margin: 15px;
  }
}
/*
 * ────────────────────────────────────────────────────────────────────────────────
 * ────────────────────────────────────────────────────────────────────────────────
 * ─── MISHA STYLES ───────────────────────────────────────────────────────────────
 * ────────────────────────────────────────────────────────────────────────────────
 * ────────────────────────────────────────────────────────────────────────────────
 */
@font-face {
  font-family: Karla;
  src: url("fonts/Karla/KARLA-REGULAR.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Karla;
  src: url("fonts/Karla/KARLA-SEMIBOLD.TTF") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Karla;
  src: url("fonts/Karla/KARLA-ITALIC.TTF") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: Quicksand;
  src: url("fonts/Quicksand/QUICKSAND-REGULAR.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Quicksand;
  src: url("fonts/Quicksand/QUICKSAND-BOLD.TTF") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: TimesNewMilly;
  src: url("fonts/TIMESNEWMILLY-REGULAR.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
h2 {
  font-family: Karla;
  font-style: italic;
  margin: 0;
}

#post-47 .entry-header {
  display: none;
}

.entry-content {
  margin: 0;
  flex-direction: column;
}

/*
 * ─── BASIC HEADER STYLES ────────────────────────────────────────────────────────
 */
#masthead {
  display: grid;
  grid-template-columns: 75% auto;
  background-color: #5FBAFF;
  border-bottom: solid 3px #000;
}
#masthead .site-branding {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
}
#masthead .custom-logo-link {
  width: 50px;
}
#masthead .site-description {
  display: none;
}
#masthead .site-title {
  font-family: Karla;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 10px;
}
#masthead .site-title a {
  text-decoration: none;
  color: #000;
}

/*
 * ─── NAVIGATION STYLES ──────────────────────────────────────────────────────────
 */
.menu-navigation-menu-container, .menu-mobile-menu-container {
  display: none;
}

#mobile-navigation-container, #site-navigation {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2em;
}

#hamburger-button {
  width: 40px;
  fill: #000;
  margin: 10px 20px;
  cursor: pointer;
  transition: fill 0.2s;
  -webkit-transition: fill 0.2s;
  -moz-transition: fill 0.2s;
  -ms-transition: fill 0.2s;
  -o-transition: fill 0.2s;
}

#mobile-navigation-container {
  grid-column: 1/3;
  grid-row: 2/3;
  width: auto;
}

#site-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column: 2/3;
  grid-row: 1/2;
}

#primary-mobile-menu {
  display: flex;
  flex-direction: column;
  margin: 10px 5%;
  padding: 0;
  width: 100%;
}
#primary-mobile-menu li {
  list-style-type: none;
  font-size: 1.2em;
  border-bottom: solid 3px #000;
  width: 100%;
  padding: 10px 0;
}
#primary-mobile-menu li:last-of-type {
  border-bottom: none;
}
#primary-mobile-menu li a {
  text-decoration: none;
  color: #000;
}

#hamburger-button:hover {
  fill: #fff;
}

@media only screen and (min-width: 1200px) {
  #mobile-navigation-container, #hamburger-button {
    display: none;
  }

  #masthead {
    grid-template-columns: 50% auto;
  }

  #site-navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .menu-navigation-menu-container {
    display: flex;
    height: 100%;
  }

  #primary-menu {
    height: 100%;
  }

  #primary-menu li {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 100%;
    transition: border-bottom 0.2s;
    -webkit-transition: border-bottom 0.2s;
    -moz-transition: border-bottom 0.2s;
    -ms-transition: border-bottom 0.2s;
    -o-transition: border-bottom 0.2s;
  }

  #primary-menu li:hover {
    border-bottom: solid 10px #000;
  }

  #primary-menu li a {
    color: #000;
  }

  #primary-menu .sub-menu {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 20px 15px;
    margin-left: -200px;
    background-color: #000;
    color: #fff;
    border-radius: 30px 0 30px 30px;
    -webkit-border-radius: 30px 0 30px 30px;
    -moz-border-radius: 30px 0 30px 30px;
    -ms-border-radius: 30px 0 30px 30px;
    -o-border-radius: 30px 0 30px 30px;
  }

  #primary-menu .sub-menu li {
    margin-bottom: 10px;
    text-align: right;
  }

  #primary-menu .sub-menu li:hover {
    border-bottom: none;
  }

  #primary-menu .sub-menu li a {
    padding: 5px 0;
    color: #fff;
    border-bottom: solid 2px #fff;
    transition: padding 0.2s;
    -webkit-transition: padding 0.2s;
    -moz-transition: padding 0.2s;
    -ms-transition: padding 0.2s;
    -o-transition: padding 0.2s;
  }

  #primary-menu .sub-menu li a:hover {
    color: #5FBAFF;
    border-bottom: solid 2px #5FBAFF;
    padding: 10px 0;
  }

  #primary-menu #menu-item-45 a {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
  }

  #primary-menu #menu-item-45:hover {
    border-bottom: none;
  }

  #primary-menu #menu-item-45 a:hover {
    background-color: #f34343;
  }
}
@media only screen and (max-width: 500px) {
  #hamburger-button {
    width: 30px;
  }

  #masthead .site-title {
    font-size: 1.5em;
  }
  #masthead .custom-logo-link {
    width: 30px;
  }
}
/*
 * ─── BASIC PAGE STYLE ───────────────────────────────────────────────────────────
 */
#primary {
  min-height: 90vh;
  margin-bottom: -50px;
}

/*
 * ─── BASIC FOOTER STLYES ────────────────────────────────────────────────────────
 */
#colophon::before {
  content: "";
  width: 120px;
  height: 57px;
  display: block;
  position: absolute;
  margin-top: -100px;
  background-image: url("assets/triangle.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

#colophon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  font-family: Karla;
  font-size: 1.2em;
  text-align: center;
  height: 100px;
  margin-bottom: -50px;
}

#colophon a {
  color: #fff;
}

@media only screen and (max-width: 650px) {
  #colophon {
    font-size: 0.9em;
  }
}
/*
 * ─── OTHER BASIC STYLES ─────────────────────────────────────────────────────────
 */
.bold-black-button {
  display: flex;
  width: max-content;
  place-items: center;
  padding: 0 20px;
  background-color: #000;
  font-family: TimesNewMilly;
  font-size: 2em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: background-color 0.2s, color 0.2s;
  -webkit-transition: background-color 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s;
  -ms-transition: background-color 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, color 0.2s;
}

a.bold-black-button {
  color: #fff;
}

.bold-black-button:hover {
  background-color: #5FBAFF;
  color: #000;
}

/*# sourceMappingURL=style.css.map */
